<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="product launch advertisement
    product launch banner
    brand launch events
    company launch announcement
    product hunt launch
    product launch marketing strategy
    brand launch events
    brand launch plan
    product launch timeline
    Pharma New launch idea
    2d character animation agency
    character animation design
    3d character animation agency
    cartoon character animation agency
    character animation drawing
    VFX agency near me
    Animation studio in mumbai
    character animation in after effects
    character animation Services
    mobile app development
    mobile app development company
    android app development
    app development course
    app development company
    ios app development
    flutter app development
    Whats App Bot
    whatsapp bot commands
    whatsapp bot api
    build whatsapp bot
    whatsapp bot list
    useful whatsapp bot
    chat bot whatsapp business
    Artificial Intelligence
    artificial intelligence
    artificial intelligence tools
    artificial intelligence app
    artificial intelligence future
    artificial intelligence technology">
    <meta name="description"
        content="Discover a realm where creativity meets strategy, and imagination transforms into impact with Marspoles">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Brand Custodian | App Development | Personalized Promotions | Corporate Video </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/assets/custome-img/faco-Marspoles.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="/website-files/assets/css/plugins.css">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/website-files/assets/css/style.css">
    <link rel="stylesheet" href="/website-files/assets/css/aboutus.css">
    <link rel="stylesheet" href="/website-files/assets/css/custome/about.css">


    <link rel="stylesheet" href="/website-files/showcase/assets/css/showcases.css">

    <link rel="stylesheet" href="/website-files/assets/custome/index.css">
    <!-- Add Slick Slider CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"> -->

    <script>
        document.documentElement.className = "js";

        var supportsCssVars = function supportsCssVars() {
            var e,
                t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
        };

        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>
    <link rel="stylesheet" href="/website-files/assets/custome/custome.css">
    <style>
        .back-image {
            height: 75vh;
            overflow: hidden;
            position: relative;

        }

        .back-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        @media only screen and (max-width: 768px) {
            .back-image {
                overflow-x: hidden;
                width: auto;
                height: auto;
            }

            .back-image img {
                width: auto;
                height: 500px;
                /* overflow-x: scroll; */
            }

            .slick-next {
                display: none !important;
            }

            .slider .parallax-slider .swiper-slide .bg-img {
                background-position: unset !important;
            }
        }
    </style>
</head>

<body class="sub-bg demo-1">

    <% include layout_website/header %>
        <main class="main-bg position-re">


            <main>

                <!-- ==================== Start Slider ==================== -->
                <header class="showcase-full">
                    <div class="parallax-slider">
                        <div class="back-image" id="scroll-container">
                            <img src="/website-files/assets/imgs/about/astronaut.jpg" alt="">
                        </div>
                    </div>
                </header>

                <!-- ==================== End Slider ==================== -->


                <section class="serv-marq main-colorbg2" style="display: none;">
                    <div class="container-fluid ontop sub-bg rest pt-20 pb-20">
                        <div class="row">
                            <div class="col-12">
                                <div class="main-marq light-text">
                                    <div class="slide-har st1">
                                        <div class="box non-strok">
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Brand Launch
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Medical Camps
                                                    </span> <img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Social Awareness Campaign
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Creativity House
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>App & Web Development
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>

                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Doctor Profiling

                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>

                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Animation House
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Scientific Creativity
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Video Shoots
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Whats App Bot
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Artificial Intelligence
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Promote Brand FMCG Style

                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>

                                        </div>
                                        <div class="box non-strok">
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Brand Launch
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Medical Camps
                                                    </span> <img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Social Awareness Campaign
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Creativity House
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>App & Web Development
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>

                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Doctor Profiling

                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>

                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Animation House
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Scientific Creativity
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Video Shoots
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Whats App Bot
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Artificial Intelligence
                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>
                                            <div class="item">
                                                <h4 class="d-flex align-items-center"><span>Promote Brand FMCG Style

                                                    </span><img class="ml-50"
                                                        src="/website-files/assets/custome-img/faco-Marspoles.png"
                                                        alt="">
                                                </h4>
                                            </div>

                                            <!-- <div class="box non-strok">
                                    
                                    
                                </div> -->
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                </section>

                <!-- ==================== Start About ==================== -->

                <section class="pg-about section-padding sub-bg">
                    <div class="container">
                        <div class="row pt-30 pb-30">
                            <div class="col-12">
                                <div class="sec-lg-head mb-80">
                                    <div class="position-re text-center">
                                        <h6 class="dot-titl mb-15 wow fadeIn">About us</h6>
                                        <h2 class="d-rotate wow">
                                            <span class="rotate-text">Our Story</span>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-4">
                            <div class="bg-img radius-10 md-mb50" data-background="/website-files/assets/imgs/about/sq1.jpg"></div>
                        </div>
                        <div class="col-lg-8">
                            <div class="bg-img radius-10" data-background="/website-files/assets/imgs/about/sq2.jpg"></div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sec-head mt-80">
                                <h6 class="sub-title">Our Story.</h6>
                            </div>
                        </div> -->
                            <div class="col-lg-12">
                                <div class="cont our-story-cont">
                                    <h4>We are a young team of explorers, wandering beyond boundaries. We combat against
                                        mediocrity every moment of the day. Excellence is essential to us. It’s our
                                        stardust.
                                        And we sprinkle it on all the projects we undertake. We are fascinated by the
                                        red planet
                                        and dwell on its likes with double the imagination and creativity. Our spaceship
                                        comes
                                        loaded for you, with healthcare and more. From medical writers and bloggers to
                                        the best
                                        in class creative thought leadership, digital strategists, animators,
                                        illustrators,
                                        designers, developers, strategists, servicing specialists, and Illustrators—
                                        everything
                                        to make the journey of your brand rich and eventful. With us, your brands are
                                        surely
                                        light years ahead of the competition! Our brilliant work attracts the right kind
                                        of
                                        reaction from the target group, thus making sales and recall rocket high. In our
                                        hands
                                        brands bloom to create their magic– To form their magnetosphere – be it a small
                                        token of
                                        communication or an entire multimedia campaign. 

                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- ==================== End About ==================== -->




                <!-- ==================== Start Testimonials ==================== -->

                <section class="testim-vrt sub-bg orange-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 valign pt-50">
                                <div class="cont">
                                    <div>
                                        <!-- <h2 class="sub-title mb-15">Since 2016</h2> -->
                                        <h2 class="d-rotate wow">
                                            <span class="rotate-text">Since 2016</span>
                                        </h2>
                                        <h3>The Unique Chemistry of Marspoles
                                        </h3>
                                        <div class="text mt-10 pb-30 bord-thin-bottom">
                                            <p>Mars: We operate out of a different plane altogether. Moving towards
                                                mars. Because it has two moons, which means double the creativity and
                                                imagination.
                                            </p>
                                            <p>One day on mars lasts 24.6 hours. Which again means a wee bit more time.
                                                24 hours is not always enough. Are they?
                                            </p><br>
                                            <p>Poles: Amongst us we have temperaments and personalities which are poles
                                                apart.
                                            </p>
                                            <p>Some rock solid down to earth. Some on flights of fancy. Some easy to
                                                excite. Some have seen it all. We believe differences ignite sparks
                                                which in turn fuel creativity. It’s a micro universe out here.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 offset-lg-1">
                                <div>
                                    <div class="main-marqv">
                                        <div class="slide-vertical st1">

                                            <div class="box">
                                                <div class="item radius-30 mt-30">
                                                    <div class="cont mb-40">
                                                        <div class="rate-stars mb-30 fz-12">
                                                            <span class="rate main-color">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </span>
                                                        </div>
                                                        <p class="fw-300">I am writing to express my thanks and appreciation for the remarkable work Marspoles team did on conceptualization and final deliverables of Behtareen Zindagi campaign of my brand. I am really impressed with quality of work you have delivered in series of Commercial ad – Behtareen Zindagi conceptualized for our target audience(doctors). Your professionalism, creativity and talent made it pleasurable to work with you on this project.
                                                        </p>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="img circle-80">
                                                                <img src="/website-files/assets/imgs/testim/1.jpg"
                                                                    alt="" class="circle-img">
                                                            </div>
                                                        </div>
                                                        <div class="ml-30">
                                                            <div class="info">
                                                                <h6>Bhavesh Mor 
                                                                </h6>
                                                                <span class="main-color sub-title">Ceo</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item radius-30 mt-30">
                                                    <div class="cont mb-40">
                                                        <div class="rate-stars mb-30 fz-12">
                                                            <span class="rate main-color">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </span>
                                                        </div>
                                                        <p class="fw-300">I have been hiring people in this
                                                            space for a number of years
                                                            and I have never seen this level of
                                                            professionalism. It really feels like you are
                                                            working with a team that can get the job
                                                            done.</p>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="img circle-80">
                                                                <img src="/website-files/assets/imgs/testim/1.jpg"
                                                                    alt="" class="circle-img">
                                                            </div>
                                                        </div>
                                                        <div class="ml-30">
                                                            <div class="info">
                                                                <h6>Leonard Heiser</h6>
                                                                <span class="main-color sub-title">Ceo</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item radius-30 mt-30">
                                                    <div class="cont mb-40">
                                                        <div class="rate-stars mb-30 fz-12">
                                                            <span class="rate main-color">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </span>
                                                        </div>
                                                        <p class="fw-300">I have been hiring people in this
                                                            space for a number of years
                                                            and I have never seen this level of
                                                            professionalism. It really feels like you are
                                                            working with a team that can get the job
                                                            done.</p>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="img circle-80">
                                                                <img src="/website-files/assets/imgs/testim/1.jpg"
                                                                    alt="" class="circle-img">
                                                            </div>
                                                        </div>
                                                        <div class="ml-30">
                                                            <div class="info">
                                                                <h6>Leonard Heiser</h6>
                                                                <span class="main-color sub-title">Ceo</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="box">
                                                <div class="item radius-30 mt-30">
                                                    <div class="cont mb-40">
                                                        <div class="rate-stars mb-30 fz-12">
                                                            <span class="rate main-color">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </span>
                                                        </div>
                                                        <p class="fw-300">I have been hiring people in this
                                                            space for a number of years
                                                            and I have never seen this level of
                                                            professionalism. It really feels like you are
                                                            working with a team that can get the job
                                                            done.</p>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="img circle-80">
                                                                <img src="/website-files/assets/imgs/testim/1.jpg"
                                                                    alt="" class="circle-img">
                                                            </div>
                                                        </div>
                                                        <div class="ml-30">
                                                            <div class="info">
                                                                <h6>Leonard Heiser</h6>
                                                                <span class="main-color sub-title">Ceo</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item radius-30 mt-30">
                                                    <div class="cont mb-40">
                                                        <div class="rate-stars mb-30 fz-12">
                                                            <span class="rate main-color">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </span>
                                                        </div>
                                                        <p class="fw-300">I have been hiring people in this
                                                            space for a number of years
                                                            and I have never seen this level of
                                                            professionalism. It really feels like you are
                                                            working with a team that can get the job
                                                            done.</p>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="img circle-80">
                                                                <img src="/website-files/assets/imgs/testim/1.jpg"
                                                                    alt="" class="circle-img">
                                                            </div>
                                                        </div>
                                                        <div class="ml-30">
                                                            <div class="info">
                                                                <h6>Leonard Heiser</h6>
                                                                <span class="main-color sub-title">Ceo</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item radius-30 mt-30">
                                                    <div class="cont mb-40">
                                                        <div class="rate-stars mb-30 fz-12">
                                                            <span class="rate main-color">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </span>
                                                        </div>
                                                        <p class="fw-300">I have been hiring people in this
                                                            space for a number of years
                                                            and I have never seen this level of
                                                            professionalism. It really feels like you are
                                                            working with a team that can get the job
                                                            done.</p>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="img circle-80">
                                                                <img src="/website-files/assets/imgs/testim/1.jpg"
                                                                    alt="" class="circle-img">
                                                            </div>
                                                        </div>
                                                        <div class="ml-30">
                                                            <div class="info">
                                                                <h6>Leonard Heiser</h6>
                                                                <span class="main-color sub-title">Ceo</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- ==================== End Testimonials ==================== -->

                <!-- ==================== Start clients ==================== -->
                <section>
                    <div class="clients section-padding pb-100 position-re blue-bg">
                        <div class="container" id="client-section">
                            <div class="row justify-content-center mb-80">
                                <div class="col-lg-6 text-center">
                                    <div class="text">
                                        <h3>We create <span>experiences</span> and turn ideas into reality.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="carousel">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6m-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/abbott.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6m-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/ajantapharmaLTD.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Akumentis.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Alkem.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Cipla.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Emcure.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Eris.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Glenmark.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Hygienicreserchinstitute.png"
                                                    alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Indchemie.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Inventia.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Ipca.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/JB.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Lupin.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Medicamen.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Medley.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/SunPharma.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/TheTimesIndia.png" alt="">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/USV.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Zydus.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Wockhardt.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/Zuventus.png" alt="">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 brand box-bg">
                                        <div class="item mb-30">
                                            <div class="img">
                                                <img src="/website-files/assets/imgs/client/TorrentPharma.png" alt="">
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- ==================== End clients ==================== -->

            </main>

            <!-- ==================== Start call to action ==================== -->

            <section class="call-action-img">
                <div class="container">
                    <div class="sec-bg-img bg-img parallaxie" data-background="assets/imgs/background/2.jpg"></div>
                    <div class="sec-lg-head section-padding">
                        <div class="row ontop">
                            <div class="col-11 d-flex align-items-center">
                                <div class="valign">
                                    <h2 class="fz-50 d-rotate wow">
                                        <span class="rotate-text">Have a project in mind?</span>
                                        <span class="rotate-text">Let’s <span class="sub-font">get to
                                                work</span>.</span>
                                    </h2>
                                </div>
                                <div class="ml-auto">
                                    <a href="/contactus"
                                        class="butn-circle d-flex align-items-center text-center m-auto">
                                        <div class="full-width">
                                            <span><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                        fill="currentColor"></path>
                                                </svg></span>
                                            <span class="full-width">Get In Touch</span>
                                        </div>
                                        <img src="/website-files/assets/imgs/svg-assets/circle-star.svg" alt=""
                                            class="circle-star">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </main>
        <!-- ==================== Start Footer ==================== -->


        <% include layout_website/footer %>
            <!-- ==================== End Footer ==================== -->



            <!-- jQuery -->
            <script src="/website-files/assets/js/jquery-3.6.0.min.js"></script>
            <script src="/website-files/assets/js/jquery-migrate-3.4.0.min.js"></script>

            <!-- Add Slick Slider JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

            <!-- plugins -->
            <script src="/website-files/assets/js/plugins.js"></script>

            <script src="/website-files/assets/js/ScrollTrigger.min.js"></script>

            <!-- custom scripts -->
            <script src="/website-files/assets/js/scripts.js"></script>

            <script src="/website-files/showcase/assets/js/showcase1.js"></script>


            <script>
                $('.carousel').slick({
                    dots: true,
                    slidesPerRow: 1,
                    rows: 2,
                    autoplay: true,
                    autoplaySpeed: 5000,
                    responsive: [
                        {
                            breakpoint: 478,
                            settings: {
                                slidesPerRow: 1,
                                rows: 1,
                            }
                        }
                    ]
                });
                window.onload = function () {
                    const container = document.getElementById('scroll-container');
                    const image = document.querySelector('.back-image img');
                    let scrollLeft = 0;
                    let scrollAmount = 2;
                    let direction = 'forward';

                    function scrollImage() {
                        if (direction === 'forward') {
                            scrollLeft += scrollAmount;
                            container.scrollLeft = scrollLeft;

                            if (scrollLeft >= container.scrollWidth - container.clientWidth) {
                                direction = 'reverse';
                            }
                        } else {
                            scrollLeft -= scrollAmount;
                            container.scrollLeft = scrollLeft;

                            if (scrollLeft <= 0) {
                                direction = 'forward';
                            }
                        }
                    }

                    setInterval(scrollImage, 50);
                };


            </script>
</body>

</html>