<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="product launch advertisement
    product launch banner
    brand launch events
    company launch announcement
    product hunt launch
    product launch marketing strategy
    brand launch events
    brand launch plan
    product launch timeline
    Pharma New launch idea
    2d character animation agency
    character animation design
    3d character animation agency
    cartoon character animation agency
    character animation drawing
    VFX agency near me
    Animation studio in mumbai
    character animation in after effects
    character animation Services
    mobile app development
    mobile app development company
    android app development
    app development course
    app development company
    ios app development
    flutter app development
    Whats App Bot
    whatsapp bot commands
    whatsapp bot api
    build whatsapp bot
    whatsapp bot list
    useful whatsapp bot
    chat bot whatsapp business
    Artificial Intelligence
    artificial intelligence
    artificial intelligence tools
    artificial intelligence app
    artificial intelligence future
    artificial intelligence technology">
    <meta name="description"
        content="Work with a team that recognizes your skills and promotes progress. Start your rewarding career here">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Job Openings | Branding | Carrer</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/assets/custome-img/faco-Marspoles.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="/website-files/assets/css/plugins.css">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/website-files/assets/css/style.css">


    <link rel="stylesheet" href="/website-files/showcase/assets/css/showcases.css">

    <link rel="stylesheet" href="/website-files/assets/custome/index.css">
    <link rel="stylesheet" href="/website-files/assets/css/career.css">


    <script>document.documentElement.className = "js";

        var supportsCssVars = function supportsCssVars() {
            var e,
                t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
        };

        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>
    <link rel="stylesheet" href="/website-files/assets/custome/custome.css">
    <link rel="stylesheet" href="/website-files/assets/custome/career.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="stylesheet" href="/website-files/assets/custome/services.css">
    <style>
        #form-title {
            font-size: 12px;
            color: red;
        }

        .massge {
            color: #39a139;
        }

        .card-body .btn-close {
            position: absolute;
            right: 32px;
        }

        .slider .parallax-slider .swiper-slide {
            position: relative;
            overflow: hidden;
            width: 100%;
            min-height: 45vh;
            padding: 80px 0;
        }

      .bg-img {
            /* height: 400px; */
            background-size: cover;
            background-position: center center;
        }
        .valign::before{
            height: 700px;
        }
    </style>
</head>

<body class="sub-bg demo-1">
    <% include layout_website/header %>

        <main class="sub-bg">


            <!-- ==================== Start Slider ==================== -->

            <header class="slider showcase-full">
                <div class="swiper-container parallax-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="bg-img valign ">
                                <video muted playsinline autoplay loop>
                                    <source src="/website-files/assets/imgs/Career/careerbanner.mp4">
                                </video>

                            </div>
                            <div class="bg-img valign remove-hide hide-laptop">
                                <video muted playsinline autoplay loop>
                                    <source src="/website-files/assets/imgs/Career/carreemobile.mp4">
                                </video>

                            </div>
                        </div>

                    </div>


                </div>
            </header>

            <!-- ==================== End Slider ==================== -->



            <!-- ==================== Start Section ==================== -->

            <section class="career-serv section-padding">
                <div class="container">

                    <div class="row lg-marg mt-40">
                        <div class="col-lg-4">
                            <div class="office md-mb50">
                                <!-- <h3 class="mb-10">Services and <br> Products</h3> -->
                                <p class="mb-10">We are explorers who wander beyond the boundaries of design and
                                    communication. It’s in our DNA to be curious and courageous to chart new paths. 
                                </p>
                                <p class="mb-10">If you have an adventurous spirit like ours, we would be more than
                                    happy to
                                    have you onboard 
                                </p>
                                <!-- <ul class="rest">
                                <li>
                                    <span class="icon pe-7s-user"></span>
                                    <span>Simple Management</span>
                                </li>
                                <li>
                                    <span class="icon pe-7s-config"></span>
                                    <span>Advanced Management</span>
                                </li>
                                <li>
                                    <span class="icon pe-7s-note2"></span>
                                    <span>Essentials Solutions</span>
                                </li>
                                <li>
                                    <span class="icon pe-7s-wallet"></span>
                                    <span>Pricing and Fees</span>
                                </li>
                            </ul> -->
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="cont">
                                <h4 class="mb-30">Why Marspoles
                                </h4>

                                <p>We are a young team of explorers, wandering beyond boundaries. Uninhibited and
                                    untamed.
                                    Always chasing star dust, even if it means we travel to the black hole and back.
                                    Mars is
                                    our planet. The planet of Greek warriors. And ours is a combat against mediocrity
                                    every
                                    moment of the day. Excellence is essential to us. It’s our star dust. And we
                                    sprinkle it
                                    on all the projects we undertake. We are fascinated by the red planet and dwell on
                                    its
                                    likes with double the imagination and creativity. We have the enthusiasm and gusto
                                    to
                                    beat all odds and make our journey the most inspiring and memorable one. We have a
                                    culture that fosters growth and creativity. Here's why Marspoles is the perfect
                                    place
                                    for your career to flourish
                                </p>

                                <a href="#career-box" class="main-color3 mt-30">
                                    <span>See Open Roles <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-45 d-flex ">
                        <div class="col-md-3">
                            <video muted autoplay playsinline loop class="radius-10 video-radius">
                                <source src="/website-files/assets/imgs/Career/01.mp4">
                            </video>
                        </div>
                        <div class="col-md-3">
                            <!-- <div class="bg-img radius-10 md-mb50"
                                data-background="/website-files/assets/imgs/Career/02.png"
                                style="background-image: url('/website-files/assets/imgs/Career/02.png')">
                            </div> -->
                            <div class="bg-img radius-10 md-mb50  video-radius"
                                data-background="/website-files/assets/imgs/Career/02.png"></div>

                        </div>
                        <div class="col-md-3">
                            <video muted autoplay playsinline loop class="radius-10 video-radius">
                                <source src="/website-files/assets/imgs/Career/03.mp4">
                            </video>
                        </div>
                        <div class="col-md-3">
                            <video muted autoplay playsinline loop class="radius-10 video-radius">
                                <source src="/website-files/assets/imgs/Career/04.mp4">
                            </video>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ==================== End Section ==================== -->



            <!-- ==================== Start Section ==================== -->

            <section class="career-box section-padding main-bg bord-thin-top" id="career-box">
                <div class="container">
                    <div class="row mb-80">
                        <div class="col-lg-4">
                            <div class="title md-mb50">
                                <h2>Current Openings</h2>
                                <br>
                                <br>
                                <p>Explore our current job opportunities and find the perfect fit for your skills and
                                    aspirations. Whether you're an experienced professional or a fresh graduate looking
                                    to make your mark, we have a place for you.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-7 offset-lg-1" id="career_description">

                        </div>
                        <div class="overlay" id="overlay"></div>

                        <div class="popup-form" id="popup-form"
                            style="display:none;width:88%;height:63%; position: fixed; top: 48%; left: 50%;transform: translate(-50%, -50%);">
                            <div class="card card-2" id="card-2">
                                <div class="card-heading"></div>
                                <div class="card-body">
                                    <button type="button" class="btn-close" id="close-btn" aria-label="Close"></button>
                                    <h2 class="title2">Apply Form</h2>
                                    <form id="applyForm">
                                        <h3 class="color--white mb-5" id="form-title"></h3>
                                        <p class="massge">Your message has been sent successfully. We'll get back to you
                                            shortly.</p>
                                        <div class="input-group">
                                            <input class="input--style-2" type="text" id="jobformname"
                                                placeholder="Name" name="jobformname">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="input--style-2" type="email" id="jobformemail"
                                                        placeholder="Email" name="jobformemail">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <input class="input--style-2" type="number" id="jobformmobile"
                                                        placeholder="Mobile Number" name="jobformmobile">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-2">
                                            <div class="input-group">
                                                <div class="rs-select2 js-select-simple select--no-search">
                                                    <select name="jobposition" class="input--style-2" id="jobposition">
                                                        <option value="">-- Select Position --</option>
                                                        <option value="Senior Python Developer">Senior Python Developer
                                                        </option>
                                                        <option value="Design Analyst">Design Analyst</option>
                                                        <option value="Head of UX and Design">Head of UX and Design
                                                        </option>
                                                        <option value="Web &amp; Visual Designer (Marketing)">Web &amp;
                                                            Visual
                                                            Designer (Marketing)</option>
                                                    </select>
                                                    <div class="select-dropdown"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <textarea name="message" id="message" placeholder="Message" rows="3"
                                                        tabindex="10" class="form-control"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <button type="button" class="btn btn-success"
                                                    id="contact-btn">Submit</button>
                                            </div>
                                            <div class="g-recaptcha"
                                                data-sitekey="6Ld7dSYpAAAAAPZ-_TRhnFWokU9xNWLv34z8uxCI"></div>

                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <!-- ==================== End Section ==================== -->


        </main>

        <!-- ==================== Start Footer ==================== -->


        <% include layout_website/footer %>
            <!-- ==================== End Footer ==================== -->



            <!-- jQuery -->
            <script src="/website-files/assets/js/jquery-3.6.0.min.js"></script>
            <script src="/website-files/assets/js/jquery-migrate-3.4.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

            <!-- plugins -->
            <script src="/website-files/assets/js/plugins.js"></script>

            <script src="/website-files/assets/js/ScrollTrigger.min.js"></script>

            <!-- custom scripts -->
            <script src="/website-files/assets/js/scripts.js"></script>
            <script src="/website-files/assets/js/career.js"></script>

            <!-- <script src="/website-files/showcase/assets/js/showcase1.js"></script> -->
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
            </script>

</body>

</html>