<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="product launch advertisement
    product launch banner
    brand launch events
    company launch announcement
    product hunt launch
    product launch marketing strategy
    brand launch events
    brand launch plan
    product launch timeline
    Pharma New launch idea
    2d character animation agency
    character animation design
    3d character animation agency
    cartoon character animation agency
    character animation drawing
    VFX agency near me
    Animation studio in mumbai
    character animation in after effects
    character animation Services
    mobile app development
    mobile app development company
    android app development
    app development course
    app development company
    ios app development
    flutter app development
    Whats App Bot
    whatsapp bot commands
    whatsapp bot api
    build whatsapp bot
    whatsapp bot list
    useful whatsapp bot
    chat bot whatsapp business
    Artificial Intelligence
    artificial intelligence
    artificial intelligence tools
    artificial intelligence app
    artificial intelligence future
    artificial intelligence technology">
    <meta name="description" content="Geekfolio - Multi-Purpose HTML5 Template">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Marspoles</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/assets/custome-img/faco-Marspoles.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
<!-- Font Awesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xxx" crossorigin="anonymous" />

    <!-- Plugins -->
    <link rel="stylesheet" href="/website-files/assets/css/plugins.css">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/website-files/assets/css/style.css">


    <link rel="stylesheet" href="/website-files/showcase/assets/css/showcases.css">

    <link rel="stylesheet" href="/website-files/assets/custome/index.css">
    <link rel="stylesheet" href="/website-files/assets/custome/contect.css">


    <script>document.documentElement.className = "js";

        var supportsCssVars = function supportsCssVars() {
            var e,
                t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
        };

        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>
    <link rel="stylesheet" href="/website-files/assets/custome/custome.css">
    <link rel="stylesheet" href="/website-files/assets/custome/career.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <style>
        #form-title{
            font-size: 12px ;
            color: red;
        }
        .massge{
            color: #39a139;
        }
    </style>
</head>

<body class="sub-bg demo-1">
    <% include layout_website/header %>
 
    <main class="main-bg position-re">

        <!-- ==================== Start Slider ==================== -->

        <header class="page-header section-padding sub-bg contact-hero">
            <div class="container mt-80">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="caption">
                            <h6 class="sub-title">Contact Us</h6>
                            <h1 class="fz-55">Make your <br>brands shine
                            </h1>
                        </div>
                    </div>
                    <div class="col-lg-5 valign">
                        <div class="text">
                            <p>With us brands bloom to create their own magic. Keep your brands light years ahead of competition
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- ==================== End Slider ==================== -->



        <!-- ==================== Start Contact ==================== -->

        <section class="contact-crev section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sec-lg-head mb-80">
                            <h6 class="dot-titl-non mb-10">Get In Touch</h6>
                            <h2 class="fz-50">Give us a quick<br> tinkle
                            </h2>
                            <p class="fz-15 mt-10">If you would like to work with us or just want to get in
                                touch, we’d love to hear from you!</p>
                            <div class="phone fz-20 mt-30 ">
                                <a href="tel:09821191049">09821191049</a><br>
                                <a> info@marspoles.com
                                </a>
                            </div>
                            <ul class="rest social-text d-flex mt-60">
                                <li class="mr-30">
                                    <a href="https://www.facebook.com/Marspolesteam/"target="_blank"><!-- Facebook Icon -->
                                        <i class="fab fa-facebook"></i>
                                        </a>
                                </li>
                                <li class="mr-30">
                                    <a href="https://twitter.com/Marspoles"target="_blank"><!-- Twitter Icon -->
                                        <i class="fab fa-twitter"></i>
                                        </a>
                                </li>
                                <li class="mr-30">
                                    <a href="https://www.linkedin.com/company/marspoles-media-communications-llp/"target="_blank"><!-- LinkedIn Icon -->
                                        <i class="fab fa-linkedin"></i>
                                        </a>
                                </li>
                                <li class="mr-30">
                                    <a href="https://www.instagram.com/marspoles?igsh=ajh1enN2cngyc29i"target="_blank"><!-- Instagram Icon -->
                                        <i class="fab fa-instagram"></i>
                                        </a>
                                </li>
                                <li class="mr-30">
                                    <a href="https://www.youtube.com/channel/UC5a9-PW9MYXy0w0D31Mt1Uw"target="_blank"><!-- YouTube Icon -->
                                        <i class="fab fa-youtube"></i>
                                        </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1 valign">
                        <div class="full-width">
                            <form id="contact-form">
                                <h3 class="color--white mb-5" id="form-title" ></h3>
                                <p class="massge">Your message has been sent successfully. We'll get back to you shortly.</p>

                                <div class="controls row">

                                    <div class="col-lg-6">
                                        <div class="form-group mb-30">
                                            <input id="form_name" type="text" name="name" placeholder="Name"
                                                >
                                                
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group mb-30">
                                            <input id="form_email" type="email" name="email" placeholder="Email"
                                                >
                                                
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group mb-30">
                                            <input id="form_subject" type="text" name="subject" placeholder="Subject">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea id="form_message" name="message" placeholder="Message" rows="4"
                                                ></textarea>
                                                

                                        </div>
                                        <div class="mt-30">
                                            <button type="submit"id="contact-btn"  class="butn butn-md butn-bord radius-30">
                                                <span class="text">Let's Talk</span>
                                                
                                            </button>
                                            <!-- <img id="loader" src="/website-files/assets/imgs/loader.gif" alt="loader" width="25px" height="25px"> -->
                                        </div>
                                        <div class="g-recaptcha pt-5" data-sitekey="6Ld7dSYpAAAAAPZ-_TRhnFWokU9xNWLv34z8uxCI"></div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End Contact ==================== -->

    </main>
        <!-- ==================== Start Footer ==================== -->


        <% include layout_website/footer %>
            <!-- ==================== End Footer ==================== -->



            <!-- jQuery -->
            <script src="/website-files/assets/js/jquery-3.6.0.min.js"></script>
            <script src="/website-files/assets/js/jquery-migrate-3.4.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

            <!-- plugins -->
            <script src="/website-files/assets/js/plugins.js"></script>

            <script src="/website-files/assets/js/ScrollTrigger.min.js"></script>

            <!-- custom scripts -->
            <script src="/website-files/assets/js/scripts.js"></script>
            <script src="/website-files/assets/js/contactus.js"></script>

            <!-- <script src="/website-files/showcase/assets/js/showcase1.js"></script> -->
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
        </script>

</body>

</html>