<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="product launch advertisement
    product launch banner
    brand launch events
    company launch announcement
    product hunt launch
    product launch marketing strategy
    brand launch events
    brand launch plan
    product launch timeline
    Pharma New launch idea
    2d character animation agency
    character animation design
    3d character animation agency
    cartoon character animation agency
    character animation drawing
    VFX agency near me
    Animation studio in mumbai
    character animation in after effects
    character animation Services
    mobile app development
    mobile app development company
    android app development
    app development course
    app development company
    ios app development
    flutter app development
    Whats App Bot
    whatsapp bot commands
    whatsapp bot api
    build whatsapp bot
    whatsapp bot list
    useful whatsapp bot
    chat bot whatsapp business
    Artificial Intelligence
    artificial intelligence
    artificial intelligence tools
    artificial intelligence app
    artificial intelligence future
    artificial intelligence technology">
    <meta name="description"
        content="Our innovative brand maker turns your vision into a compelling brand,  Create your brand story today.">
    <meta name="author" content="">

    <!-- Title  -->
    <title>360 Degree Advertising Agency | Brand Building | Animation House | Campaign Creation</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/assets/custome-img/faco-Marspoles.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="/website-files/assets/css/plugins.css">

    
    <!-- Core Style Css -->
    <link rel="stylesheet" href="/website-files/assets/css/style.css">


    <link rel="stylesheet" href="/website-files/showcase/assets/css/showcases.css">

    <link rel="stylesheet" href="/website-files/assets/custome/index.css">
     <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <script>document.documentElement.className = "js";

        var supportsCssVars = function supportsCssVars() {
            var e,
                t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
        };

        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>
    <link rel="stylesheet" href="/website-files/assets/custome/custome.css">
</head>

<body class="sub-bg demo-1">

    <main class="main-bg position-re">

        <% include layout_website/header %>



            <!-- ==================== Start slider ==================== -->

            <section class="position-re ">
                <div class="frame">
                    <nav class="slides-nav">
                        <div class="slide-nav-butn">
                            <button class="slides-nav__button slides-nav__button--prev" aria-label="Previous slide">
                                <svg>
                                    <path
                                        d="M1.176 11.532a.5.5 0 00-.352.936c5.228 1.96 9.475 5.555 12.752 10.797a.5.5 0 00.848-.53c-3.39-5.424-7.81-9.163-13.248-11.203z">
                                    </path>
                                    <path
                                        d="M1.176 12.468a.5.5 0 01-.352-.936C6.052 9.572 10.3 5.978 13.576.735a.5.5 0 01.848.53c-3.39 5.424-7.81 9.163-13.248 11.203z">
                                    </path>
                                    <path d="M1 12.5a.5.5 0 110-1h53a.5.5 0 110 1H1z"></path>
                                </svg>
                            </button>
                            <button class="slides-nav__button slides-nav__button--next" id="next-btn"
                                aria-label="Next slide">
                                <svg>
                                    <path
                                        d="M53.824 11.532a.5.5 0 01.352.936c-5.228 1.96-9.475 5.555-12.752 10.797a.5.5 0 01-.848-.53c3.39-5.424 7.81-9.163 13.248-11.203z">
                                    </path>
                                    <path
                                        d="M53.824 12.468a.5.5 0 00.352-.936C48.948 9.572 44.7 5.978 41.424.735a.5.5 0 00-.848.53c3.39 5.424 7.81 9.163 13.248 11.203z">
                                    </path>
                                    <path d="M54 12.5a.5.5 0 100-1H1a.5.5 0 100 1h53z"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="slides-nav__index">
                            <span class="slides-nav__index-current">
                                <span>1</span>
                            </span>
                            &mdash;
                            <span class="slides-nav__index-total">5</span>
                        </div>
                    </nav>
                </div>
                <div class="slideshow">
                    <figure class="slide slide--current">
                        <div class="slide__img-wrap">
                            <div class="slide__img bg-img  "
                                data-background="/website-files/assets/imgs/Home/Banner/NEW-MP-WEBSITE.jpg"></div>
                                <div class="slide__img bg-img hide-loptop"
                                data-background="/website-files/assets/imgs/Home/Banner/NEW-MP-WEBSITE.jpg"></div>
                        </div>
                     
                        <figcaption class="slide__caption">
                            <h1 class="slides__caption-headline">
                                <!-- <span class="text-row sub-title mb-15"><span>© 2023 Branding</span></span> -->
                                <span class="text-row"><span>Wall of Fame
                                    </span></span>
                                <span class="text-row sub-title mb-15"><span>The brands are light years ahead <br> of
                                        competition</span></span>

                            </h1>

                            <a class="slides__caption-link sub-title mt-30 stopinterval"
                                href="/work"><span>Explore</span></a>
                        </figcaption>
                    </figure>
                    <figure class="slide">
                        <div class="slide__img-wrap">
                            <div class="slide__img bg-img ">
                                <video muted autoplay playsinline loop  class="radius-10 video-radius mobile-auto-play">
                                    <source src="/website-files/assets/imgs/Home/Banner/BrandPlanning.mp4">
                                </video>
                            </div>
                            <div class="slide__img bg-img hide-laptop">
                                <video muted autoplay loop playsinline  class="radius-10 video-radius mobile-auto-play">
                                    <source src="/website-files/assets/imgs/Home/Banner/Brand-Planning-mobile.mp4">
                                </video>
                            </div>
                        </div>
                        <figcaption class="slide__caption">
                            <h1 class="slides__caption-headline">
                                <!-- <span class="text-row sub-title mb-15"><span>© 2023 Branding</span></span> -->
                                <span class="text-row"><span>Brand Planning
                                    </span></span>
                                <span class="text-row sub-title mb-15"><span>Loaded with  innovative creativity,
                                        strategic
                                        <br> prowess, and brand planning services
                                    </span></span>

                            </h1>
                            <a class="slides__caption-link sub-title mt-30 stopinterval"
                                href="/services"><span>Explore</span></a>
                        </figcaption>
                    </figure>
                    <figure class="slide">
                        <div class="slide__img-wrap">
                            <div class="slide__img bg-img ">
                                <video muted autoplay playsinline loop  class="radius-10 video-radius mobile-auto-play">
                                    <source src="/website-files/assets/imgs/Home/Banner/AwarenessCampaign.mp4">
                                </video>
                            </div>
                            <div class="slide__img bg-img show-mobile hide-laptop" >
                                <video muted autoplay loop playsinline class="radius-10 video-radius mobile-auto-play">
                                    <source src="/website-files/assets/imgs/Home/Banner/Awareness-Campaign-mobile.mp4">
                                </video>
                            </div>
                        </div>
                        <figcaption class="slide__caption">
                            <h1 class="slides__caption-headline">
                                <!-- <span class="text-row sub-title mb-15"><span>© 2023 Branding</span></span> -->
                                <span class="text-row"><span>Awareness Campaign
                                    </span></span>
                                <span class="text-row sub-title mb-15"><span>Father's Day Campaign

                                    </span></span>

                            </h1>
                            <a class="slides__caption-link sub-title mt-30 stopinterval"
                                href="/work/prostateAwarenessMonth"><span>Explore</span></a>
                        </figcaption>
                    </figure>
                    <figure class="slide">
                        <div class="slide__img-wrap">
                            <div class="slide__img bg-img ">
                                <video muted autoplay playsinline loop class="radius-10 video-radius mobile-auto-play">
                                    <source src="/website-files/assets/imgs/Home/Banner/AiInApp.mp4">
                                </video>
                            </div>
                            <div class="slide__img bg-img hide-laptop">
                                <video muted autoplay loop playsinline class="radius-10 video-radius mobile-auto-play">
                                    <source src="/website-files/assets/imgs/Home/Banner/Ai-In-App-mobile.mp4">
                                </video>
                            </div>
                        </div>
                        <figcaption class="slide__caption">
                            <h1 class="slides__caption-headline">
                                <!-- <span class="text-row sub-title mb-15"><span>© 2023 Branding</span></span> -->
                                <span class="text-row"><span>AI in App

                                    </span></span>
                                <span class="text-row sub-title mb-15"><span>Loaded with  innovative creativity,
                                        strategic
                                        <br> prowess, for the next – gen doctors


                                    </span></span>

                            </h1>
                            <a class="slides__caption-link sub-title mt-30 stopinterval"
                                href="/work/nextAi"><span>Explore</span></a>
                        </figcaption>
                    </figure>
                    <figure class="slide">
                        <div class="slide__img-wrap">
                            <div class="slide__img bg-img ">
                                <video muted autoplay loop playsinline class="radius-10 video-radius mobile-auto-play">
                                    <source src="/website-files/assets/imgs/Home/Banner/CelebrityEngagement.mp4">
                                </video>
                            </div>
                            <div class="slide__img bg-img hide-laptop ">
                                <video muted autoplay loop playsinline  class="radius-10 video-radius mobile-auto-play">
                                    <source src="/website-files/assets/imgs/Home/Banner/Celebrity-Engagement-mobile.mp4">
                                </video>
                            </div>
                        </div>
                        <figcaption class="slide__caption">
                            <h1 class="slides__caption-headline">
                                <!-- <span class="text-row sub-title mb-15"><span>© 2023 Branding</span></span> -->
                                <span class="text-row"><span>Celebrity Engagement
                                    </span></span>
                                <span class="text-row sub-title mb-15"><span>The most radical of communication and
                                        ideas</span></span>
                            </h1>
                            <a class="slides__caption-link sub-title mt-30 stopinterval"
                                href="/services/celebrity-engagement"><span>Explore</span></a>
                        </figcaption>
                    </figure>
                </div>
            </section>
        

            <!-- ==================== End slider ==================== -->
            <!-- ==================== Start marq ==================== -->

       
            <!-- <section class="serv-marq main-colorbg2">
                <div class="container-fluid ontop sub-bg rest pt-20 pb-20">
                    <div class="row">
                        <div class="col-12">
                            <div class="main-marq light-text">
                                <div class="slide-har st1">
                                    <div class="box non-strok">
                                       
                                        <div class="item small-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Brand Launch
                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item small-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Medical Camps
                                                </span> <img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item large-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Social Awareness Campaign
                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item small-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Creativity House
                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item large-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>App & Web Development
                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        
                                        <div class="item small-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Doctor Profiling

                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                  
                                        <div class="item small-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Animation House
                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item small-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Scientific Creativity
                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item small-item ">
                                            <h4 class="d-flex align-items-center gap-3"><span>Video Shoots
                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item small-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Whats App Bot
                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item small-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Artificial Intelligence
                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item large-item">
                                            <h4 class="d-flex align-items-center gap-3"><span>Promote Brand FMCG Style

                                                </span><img class=""
                                                    src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                       
                                 </div>
                                
                             
                               
                            </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section> -->
            <section class="serv-marq main-colorbg2">
                <div class="container-fluid ontop sub-bg rest pt-20 pb-20">
                    <div class="row">
                        <div class="col-12">
                            <div class="main-marq light-text">
                                <div class="slide-har st1">
                                    <div class="box non-strok">
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Brand Launch
                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Medical Camps
                                                </span> <img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Social Awareness Campaign
                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Creativity House
                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>App &amp; Web Development
                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Doctor Profiling

                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                  
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Animation House
                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Scientific Creativity
                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Video Shoots
                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Whats App Bot
                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Artificial Intelligence
                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                        <div class="item">
                                            <h4 class="d-flex align-items-center"><span>Promote Brand FMCG Style

                                                </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                            </h4>
                                        </div>
                                 
                                </div>
                                <div class="box non-strok">
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Brand Launch
                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Medical Camps
                                            </span> <img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Social Awareness Campaign
                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Creativity House
                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>App &amp; Web Development
                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Doctor Profiling

                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                              
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Animation House
                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Scientific Creativity
                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Video Shoots
                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Whats App Bot
                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Artificial Intelligence
                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                                    <div class="item">
                                        <h4 class="d-flex align-items-center"><span>Promote Brand FMCG Style

                                            </span><img class="ml-50" src="/website-files/assets/custome-img/faco-Marspoles.png" alt="">
                                        </h4>
                                    </div>
                             
                                <!-- <div class="box non-strok">
                                    
                                    
                                </div> -->
                            </div>
                                
                            </div>
                            
                        </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ==================== End marq ==================== -->

            <!-- ==================== Start intro ==================== -->

            <section class="about section-padding main-bg pt-30 pb-30">
                <div class="container ontop">
                    <div class="row">
                        <div class="col-lg-5 valign about-mobile">
                            <div class="about-circle-crev md-hide new-circle">
                                <div class="circle-button">
                                    <div class="rotate-circle fz-16 ls1 text-u">
                                        <svg class="textcircle" viewBox="0 0 500 500">
                                            <defs>
                                                <path id="textcircle"
                                                    d="M250,400 a150,150 0 0,1 0,-300a150,150 0 0,1 0,300Z">
                                                </path>
                                            </defs>
                                            <text>
                                                <textPath xlink:href="#textcircle" textLength="900"> Creative Branding
                                                    Agency - Creative Branding Agency - </textPath>
                                            </text>
                                        </svg>
                                    </div>
                                </div>
                                <div class="half-circle-img">
                                    <img src="/website-files/assets/imgs/Home/Aboutus/aboutus.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 valign">
                            <div class="cont sec-lg-head">
                                <h6 class="dot-titl mb-20">About Us</h6>
                                <h2 class="d-slideup wow">
                                    <span class="sideup-text"><span class="up-text">We combat against mediocrity
                                        </span></span>
                                    <span class="sideup-text"><span class="up-text">every moment of the
                                            day</span></span>
                                </h2>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text mt-20">
                                            <p>Excellence is essential to us. It’s our star dust. And we sprinkle it on
                                                all the projects we undertake.</p>
                                        </div>
                                        <div class="underline">
                                            <a href="/aboutus" class="mt-30 ls1 sub-title">Explore <i class="ml-5">
                                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                            fill="currentColor"></path>
                                                    </svg></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </section>

            <!-- ==================== End intro ==================== -->

            <!-- ==================== Start Portfolio ==================== -->

            <section class="portfolio section-padding blue-bg pt-50 pb-20">
                <div class="container ontop">
                    <div class="sec-lg-head mb-50">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="position-re">
                                    <h6 class="dot-titl mb-10">The Service Cluster</h6>
                                    <h2 class="fz-70 fw-500">The Stars of Planet Mars </h2>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="full-width d-flex justify-content-end justify-end">
                                    <!-- <div class="vew-all">
                                    <a href="blog-list.html">View All Our Services
                                        <span>
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div> -->
                                    <div>
                                        <p>We rise up to challenges everyday by providing the most radical of
                                            communication and marketing ideas. Be it Campaign Development, Animation
                                            adventures, Video Shoots.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="gallery">

                    <div class="row grid md-marg">
                        <div class="col-lg-3 col-md-6 items brand info-overlay mb-50">
                            <div class="item-img o-hidden">
                                <a href="/services/gimmick-zone" class="imago wow">
                                    <div class="inner wow">
                                        <video  muted autoplay loop playsinline class="radius-10 video-radius">
                                            <source
                                                src="/website-files/assets/imgs/Home/TheStarsPlanetMars/GimmickZone.mp4">
                                        </video>
                                    </div>
                                </a>
                                <div class="info">
                                    <span class="mb-15">
                                        <h5><a href="/services/gimmick-zone">Gimmick Zone
                                            </a></h5>
                                            <h6 class="sub-title tag"><a href="/services/gimmick-zone">Gimmick designed to turn
                                                heads, spark conversations, and drive engagement
                                            </a>
                                        </h6>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>

                                   

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 items web info-overlay mb-50">
                            <div class="item-img o-hidden">
                                <a href="/services/app-web-development" class="imago wow">
                                    <div class="inner wow">
                                        <video  muted autoplay loop playsinline class="radius-10 video-radius">
                                            <source
                                                src="/website-files/assets/imgs/Home/TheStarsPlanetMars/app_web.mp4">
                                        </video>
                                    </div>
                                </a>
                                <div class="info">
                                    <span class="mb-15">
                                        <h5><a href="/services/app-web-development">App & Web Development</a></h5>
                                        <h6 class="sub-title tag"><a href="/services/app-web-development">Elevate your online
                                            presence and propel your brand to new heights with App & web development

                                        </a>
                                    </h6>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 items web info-overlay mb-50">
                            <div class="item-img o-hidden">
                                <a href="/services/animation-house"class="imago wow">
                                    <div class="inner wow">

                                        <video  muted autoplay loop playsinline class="radius-10 video-radius">
                                            <source
                                                src="/website-files/assets/imgs/Home/TheStarsPlanetMars/animation.mp4">
                                        </video>

                                    </div>
                                </a>
                                <div class="info">
                                    <span class="mb-15">
                                        <h5><a href="/services/animation-house">Animation House
                                            </a></h5>
                                            <h6 class="sub-title tag"><a href="/services/animation-house">Break free from the
                                                constraints of reality and let your imagination soar with animated content
                                            </a>
                                        </h6>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                   

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 items app info-overlay mb-50">
                            <div class="item-img o-hidden">
                                <a href="/services/video-shoots" class="imago wow">
                                    <div class="inner wow">
                                        <video  muted autoplay  playsinline loop class="radius-10 video-radius">
                                            <source
                                                src="/website-files/assets/imgs/Home/TheStarsPlanetMars/VideoShoots.mp4">
                                        </video>
                                    </div>
                                </a>
                                <div class="info">
                                    <span class="mb-15">
                                        <h5><a href="/services/video-shoots">Video Shoots
                                            </a></h5>
                                            <h6 class="sub-title tag"><a href="/services/video-shoots">Transform your online
                                                presence and captivate your audience with our top-tier video shoot service
                                            </a>
                                        </h6>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                   

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="container">
                    <div class="col-lg-12 pt-30 pb-50 d-flex align-items-center">
                        <div class="full-width d-flex justify-content-end justify-end">
                            <div class="vew-all">
                                <a href="/services">View All Our Services
                                    <span>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="portfolio pt-50 pb-50">
                <div class="container ontop">
                    <div class="sec-lg-head mb-80">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="position-re">
                                    <h6 class="dot-titl mb-10">The Work Axis
                                    </h6>
                                    <h2 class="fz-70 fw-500">The Showcase
                                    </h2>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center">
                                <div class="full-width d-flex justify-content-end justify-end">
                                    <!-- <div class="vew-all">
                                    <a href="blog-list.html">View All Our Work
                                        <span>
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div> -->
                                    <div>
                                        <p>Our adventurous and go getter spirit gives our work a sharp swirl and out of
                                            the world edginess.  
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="gallery">

                    <div class="row grid md-marg">
                        <div class="col-lg-3 col-md-6 items brand info-overlay mb-50">
                            <div class="item-img o-hidden">
                                <a href="/work/beautyandhair" class="imago wow">
                                    <div class="inner wow">
                                        <img src="/website-files/assets/imgs/Home/TheShowcase/3.jpg" alt="image">
                                    </div>
                                </a>
                                <div class="info">
                                    <h5><a href="/work/beautyandhair">Beauty and Hair
                                    </a></h5>
                                    <h6 class="sub-title tag"><a href="/work/beautyandhair">Elevate your brand's essence with our agency' innovative touch in crafting compelling narratives for hair and beauty.
                                    </a>
                                </h6>
                               
                                    <span class="mb-15">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 items web info-overlay mb-50">
                            <div class="item-img o-hidden">
                                <a href="/wok/fathersDay" class="imago wow">
                                    <div class="inner wow">
                                        <video  muted autoplay playsinline loop class="radius-10 video-radius">
                                            <source src="/website-files/assets/imgs/Home/TheShowcase/Title.mp4">
                                        </video>
                                    </div>
                                </a>
                                <div class="info">
                                    <h5><a href="/wok/fathersDay">Campaign Father's Day
                                    </a></h5>
                                    <h6 class="sub-title tag"><a href="/wok/fathersDay">The app for Next – Gen
                                        doctors which is available on both App store and Play store
                                    </a>
                                </h6>
                               
                                    <span class="mb-15">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 items web info-overlay mb-50">
                            <div class="item-img o-hidden">
                                <a href="/work/theCadexomerBead" class="imago wow">
                                    <div class="inner wow">
                                        <img src="/website-files/assets/imgs/Home/TheShowcase/1.jpg" alt="image">
                                    </div>
                                </a>
                                <div class="info">
                                    <h5><a href="/work/theCadexomerBead">The Cadexomer Bead
                                    </a></h5>
                                    <h6 class="sub-title tag"><a href="/work/theCadexomerBead">Complete 360 Degree
                                        campaign with focus on patient awareness, and other engagement tools to
                                        drive brand communication
                                    </a>
                                </h6>
                                
                                    <span class="mb-15">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                   
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 items app info-overlay mb-50">
                            <div class="item-img o-hidden">
                                <a href="/work/theGimmicks" class="imago wow">
                                    <div class="inner wow">
                                        <img src="/website-files/assets/imgs/Home/TheShowcase/2.jpg" alt="image">
                                    </div>
                                </a>
                                <div class="info">
                                    <h5><a href="/work/theGimmicks">The Table Top
                                    </a></h5>
                                    <h6 class="sub-title tag"><a href="/work/theGimmicks">Scientific communication
                                        on how cadexomer beads are game changer in the treatment of DFI
                                    </a>
                                </h6>
                               
                                    <span class="mb-15">
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                   
                                </div>
                            </div>
                        </div>

                      

                     
                    </div>
                </div>
                <div class="container">
                    <div class="col-lg-12 pt-20 pb-20 d-flex align-items-center">
                        <div class="full-width d-flex justify-content-end justify-end">
                            <div class="vew-all">
                                <a href="/work">View All Our Work
                                    <span>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ==================== End Portfolio ==================== -->

            <!-- ==================== Start Testimonials ==================== -->
            <div class="serv-marq main-colorbg2">
                <div class="container-fluid ontop sub-bg rest ">
                    <div class="row">
                        <div class="col-12">
                            <div class="main-marq light-text">
                                <div class=" client-slider ">
                                    <div class="box non-strok slick-carousel">
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/abbott.png" alt="">

                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/ajantapharmaLTD.png" alt="">

                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Akumentis.png" alt="">
                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Emcure.png" alt="">
                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Eris.png" alt="">
                                        </div>
                                       
                                    
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Glenmark.png" alt="">
                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Inventia.png" alt="">
                                        </div>
                                  
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Ipca.png" alt="">
                                        </div>
                                        
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/JB.png" alt="">
                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Cipla.png" alt="">
                                        </div>
                                   
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Medicamen.png" alt="">
                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Hygienicreserchinstitute.png" alt="">
                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Lupin.png" alt="">
                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Indchemie.png" alt="">
                                        </div>
                                        <div class="item d-flex align-items-center gap-4">
                                            <img class="" src="/website-files/assets/imgs/client/Alkem.png" alt="">

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="testim-creative sub-bg o-hidden orange-bg pt-50 pb-50 ">
                <!-- ==================== Start marq ==================== -->


                <!-- ==================== End marq ==================== -->
                <div class="container ">
                    <div class="sec-lg-head bord-thin-bottom o-hidden">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="position-re inline">
                                    <h6 class="dot-titl mb-10">What Client Says?</h6>
                                    <h2 class="fz-70 fw-500">Our Clients</h2>
                                </div>
                            </div>
                            <div class="col-lg-4 d-flex align-items-center">
                                <div class="arrows-carsouel testim-controls">
                                    <div class="swiper-controls">
                                        <div class="swiper-button-prev">
                                            <span class="left">
                                                <img src="/website-files/assets/imgs/svg-assets/arrow-right-top.svg"
                                                    alt="">
                                            </span>
                                        </div>
                                        <div class="swiper-button-next">
                                            <span class="right">
                                                <img src="/website-files/assets/imgs/svg-assets/arrow-right-top.svg"
                                                    alt="">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="mt-80 md-hide" id="sticky_item">
                                <a href="/contactus" class="butn butn-md butn-bg main-colorbg2 radius-30 mb-80">
                                    <span>Become a Client</span>
                                    <span class="icon ml-10">
                                        <img src="/website-files/assets/imgs/svg-assets/arrow-right-top.svg" alt="">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="testim-items">
                                <div class="testim-swiper" data-carousel="swiper" data-items="1" data-loop="true"
                                    data-space="30" data-speed="1000">
                                    <div id="content-carousel-container-unq-testim" class="swiper-container"
                                        data-swiper="container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <div class="cont mb-40">
                                                        <div class="rate-stars mb-30 fz-12">
                                                            <span class="rate main-color2">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </span>
                                                        </div>
                                                        <h3 class="fw-300">I am writing to express my thanks and appreciation for the remarkable work Marspoles team did on conceptualization and final deliverables of Behtareen Zindagi campaign of my brand. I am really impressed with quality of work you have delivered in series of Commercial ad – Behtareen Zindagi conceptualized for our target audience(doctors). Your professionalism, creativity and talent made it pleasurable to work with you on this project.
                                                        </h3>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="img circle-80">
                                                                <img src="/website-files/assets/imgs/testim/1.jpg"
                                                                    alt="" class="circle-img">
                                                            </div>
                                                        </div>
                                                        <div class="ml-30">
                                                            <div class="info">
                                                                <h6>Bhavesh Mor 
                                                                </h6>
                                                                <span class="main-color2 sub-title">Ceo</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="item">
                                                    <div class="cont mb-40">
                                                        <div class="rate-stars mb-30 fz-12">
                                                            <span class="rate main-color2">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                            </span>
                                                        </div>
                                                        <h3 class="fw-300">I have been hiring people in this
                                                            space for a number of years
                                                            and I have never seen this level of
                                                            professionalism. It really feels like you are
                                                            working with a team that can get the job
                                                            done.</h3>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            <div class="img circle-80">
                                                                <img src="/website-files/assets/imgs/testim/2.jpg"
                                                                    alt="" class="circle-img">
                                                            </div>
                                                        </div>
                                                        <div class="ml-30">
                                                            <div class="info">
                                                                <h6>Leonard Heiser</h6>
                                                                <span class="main-color2 sub-title">Ceo</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pt-20 pb-20 d-flex align-items-center">
                            <div class="full-width d-flex justify-content-end justify-end">
                                <div class="vew-all">
                                    <a href="/aboutus#client-section">View All Our Clients
                                        <span>
                                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                    fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ==================== End Testimonials ==================== -->


            <!-- ==================== Start Blog ==================== -->

            <section class="blog-modern pt-50 pb-50 blue-bg ">
                <div class="container">
                    <div class="sec-lg-head mb-50">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="position-re">
                                    <h6 class="dot-titl mb-10">The Blog</h6>
                                    <h2 class="fz-70 fw-500">Marspoles Speak
                                    </h2>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div>
                                    <p>Our adventurous and go getter spirit gives our work a sharp swirl and out of the
                                        world edginess.  
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-modern">
                        <div class="container">
                            <div class="row" id="homePageBlog">
                                <!-- <div class="swiper-slide wow fadeInUp" data-wow-delay=".1s">
                                <div class="item">
                                    <div class="img">
                                        <img src="/website-files/assets/imgs/blog/h1.jpg" alt="">
                                        <div class="date">
                                            30 august 2021
                                        </div>
                                    </div>
                                    <div class="cont mt-30">
                                        <h6>
                                            Creative advertising in our life became a info
                                                noise
                                        </h6>
                                        <a href="/blog-details" class="mt-20 ls1 sub-title">Read More <i
                                                class="ml-5"><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                        fill="currentColor"></path>
                                                </svg></i></a>
                                    </div>
                                </div>
                            </div> -->


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 pt-50 d-flex align-items-center">
                        <div class="full-width d-flex justify-content-end justify-end">
                            <div class="vew-all">
                                <a href="/blogs">View All Our Blogs
                                    <span>
                                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ==================== End Blog ==================== -->

            <!-- ==================== Start call to action ==================== -->

            <% include layout_website/calltoaction %>

                <!-- ==================== End call to action ==================== -->

    </main>
    <!-- ==================== Start Footer ==================== -->


    <% include layout_website/footer %>
        <!-- ==================== End Footer ==================== -->
        <script>
            const base_url = "<%= process.env.BASE_URL%>"

        </script>


        <!-- jQuery -->
        <script src="/website-files/assets/js/jquery-3.6.0.min.js"></script>
        <script src="/website-files/assets/js/jquery-migrate-3.4.0.min.js"></script>
        
        <!-- plugins -->
        <script src="/website-files/assets/js/plugins.js"></script>

        <script src="/website-files/assets/js/ScrollTrigger.min.js"></script>

        <!-- custom scripts -->
        <script src="/website-files/assets/js/scripts.js"></script>
        

        <script src="/website-files/assets/js/homepage_blog_admin.js"></script>

        <script src="/website-files/showcase/assets/js/showcase1.js"></script>
        <script src="/website-files/assets/js/custom.js"></script>
        <script>
            const button = $('#next-btn');
            let stopinterval;
            function autoClick() {
                button.click();
            }
            // Set an interval to call the autoClick function every 6 seconds
            stopinterval = setInterval(autoClick, 9000);
    
            // Using .on() to handle the mouseover event
            $(".stopinterval").on('mouseover', () => {
                clearInterval(stopinterval);
            });
            $(".stopinterval").on('mouseleave', () => {
                // console.log("hiuii")
                stopinterval = setInterval(autoClick, 9000);
            });
            $(".slick-carousel").slick({
    speed: 5000,
		autoplay: true,
		autoplaySpeed: 0,
		cssEase: 'linear',
    slidesToShow: 7,
  	slidesToScroll: 1,
    infinite: true,
    swipeToSlide: true,
    pauseOnHover: false, 
    responsive: [
            {
              breakpoint: 750,
              settings: {
                slidesToShow: 3,
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 2,
              }
            }
            ]
});
        </script>
       
</body>

</html>