<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="product launch advertisement
    product launch banner
    brand launch events
    company launch announcement
    product hunt launch
    product launch marketing strategy
    brand launch events
    brand launch plan
    product launch timeline
    Pharma New launch idea
    2d character animation agency
    character animation design
    3d character animation agency
    cartoon character animation agency
    character animation drawing
    VFX agency near me
    Animation studio in mumbai
    character animation in after effects
    character animation Services
    mobile app development
    mobile app development company
    android app development
    app development course
    app development company
    ios app development
    flutter app development
    Whats App Bot
    whatsapp bot commands
    whatsapp bot api
    build whatsapp bot
    whatsapp bot list
    useful whatsapp bot
    chat bot whatsapp business
    Artificial Intelligence
    artificial intelligence
    artificial intelligence tools
    artificial intelligence app
    artificial intelligence future
    artificial intelligence technology">
    <meta name="description" content="Geekfolio - Multi-Purpose HTML5 Template">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Privacy Policy</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/assets/custome-img/faco-Marspoles.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-xxx" crossorigin="anonymous" />

    <!-- Plugins -->
    <link rel="stylesheet" href="/website-files/assets/css/plugins.css">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/website-files/assets/css/style.css">


    <link rel="stylesheet" href="/website-files/showcase/assets/css/showcases.css">

    <link rel="stylesheet" href="/website-files/assets/custome/index.css">
    <link rel="stylesheet" href="/website-files/assets/custome/contect.css">


    <script>document.documentElement.className = "js";

        var supportsCssVars = function supportsCssVars() {
            var e,
                t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
        };

        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>
    <link rel="stylesheet" href="/website-files/assets/custome/custome.css">
    <link rel="stylesheet" href="/website-files/assets/custome/career.css">

</head>

<body class="sub-bg demo-1">
    <% include layout_website/header %>

        <main class="main-bg position-re">

            <!-- ==================== Start Slider ==================== -->

            <header class="page-header section-padding sub-bg contact-hero">
                <div class="container mt-80">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="caption">
                                <!-- <h6 class="sub-title">Privacy Policy</h6> -->
                                <h1 class="fz-55">Privacy Policy

                                </h1>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </header>
            <section class="py-4">
                <div class="container">

                    <div class="row">

                        <div class="col-md-12">
                            <p>Welcome to the Marspoles Media & Communication’s website. At Marspoles Media &
                                Communications, we are committed to protecting and respecting your privacy. This Privacy
                                Policy outlines how we collect, use, disclose, and protect your personal information
                                when you visit our website or engage with our services.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pb-5">
                <div class="container mt-5 mb-5">
                    <div class="row  pt-30 pb-30">
                        <h2 class="d-rotate wow">
                            <span class="rotate-text">Information We Collect:</span>
                        </h2>
                        <div class="col-lg-12 md-mb50">
                            <div class="item pb-10">
                                <h6 class="mb-15">1.Personal Information:</h6>
                                <p>When you visit our website, we may collect personal information such as your name,
                                    email address, and phone number when you voluntarily provide it through contact
                                    forms or other means.</p>
                            </div>
                            <div class="item pb-10">
                                <h6 class="mb-15">2. Usage Information:</h6>
                                <p>We gather information about how you interact with our website, including the pages
                                    you visit, the links you click, and the duration of your visit. This data helps us
                                    improve our website and tailor our content to better meet your needs.</p>
                            </div>
                            <div class="item">
                                <h6 class="mb-15">3. Cookies:</h6>
                                <p>We use cookies to enhance your browsing experience. Cookies are small text files
                                    stored on your device that help us analyze website usage and provide a personalized
                                    experience. You can adjust your browser settings to block cookies, but doing so may
                                    affect certain features of our website.</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row  pt-30 pb-30">
                        <h2 class="d-rotate wow">
                            <span class="rotate-text">How We Use Your Information:</span>
                        </h2>
                        <div class="col-lg-12 md-mb50">
                            <div class="item pb-10  ">
                                <h6 class="mb-15">1.
                                    Communication:
                                </h6>
                                <p>We use the information you provide to respond to your inquiries, fulfill your
                                    requests, and communicate with you about our products, services, and promotions.</p>
                            </div>
                            <div class="item pb-10  ">
                                <h6 class="mb-15">2. Analytics:</h6>
                                <p>We analyze user behavior and engagement on our website to improve its functionality,
                                    content, and user experience.</p>
                            </div>
                            <div class="item">
                                <h6 class="mb-15">3. Marketing:</h6>
                                <p>With your consent, we may send you marketing communications about our products and
                                    services. You can opt out of these communications at any time.</p>
                            </div>

                        </div>
                    </div>
                    <div class="row  pt-30 pb-30">
                        <h2 class="d-rotate wow">
                            <span class="rotate-text">How We Share Your Information:</span>
                        </h2>
                        <div class="col-lg-12 md-mb50">
                            <div class="item pb-10 ">
                                <h6 class="mb-15">1.
                                    Third-Party Service Providers:
                                </h6>
                                <p>We do not share your information with third-party service providers who assist us in
                                    delivering our services, maintaining our website, or conducting business operations.
                                </p>
                            </div>
                            <div class="item pb-10  ">
                                <h6 class="mb-15">2. Legal Compliance:</h6>
                                <p>We may disclose your information to comply with legal obligations, enforce our
                                    policies, or protect the rights, property, or safety of Marspoles Media &
                                    Communications and others.</p>
                            </div>
                            <div class="item pb-10">
                                <h6 class="mb-15">3. Your Choices:</h6>
                                <p>You have the right to access, correct, or delete your personal information. You may
                                    also opt out of receiving marketing communications from us.</p>
                            </div>
                            <div class="item pb-10">
                                <h6 class="mb-15">4. Security:</h6>
                                <p>
                                    We prioritize the security of your personal information and implement measures to
                                    safeguard it from unauthorized access, disclosure, alteration, and destruction.
                                    Changes to This Privacy Policy:

                                </p>
                                <p>
                                    We may update this Privacy Policy periodically to reflect changes in our practices.
                                    We encourage you to review this policy regularly for any updates.
                                </p>

                            </div>
                            <div class="item pb-10">
                                <h6 class="mb-15">5. Contact Us:</h6>
                                <p>
                                    If you have any questions, concerns, or requests regarding our Privacy Policy,
                                    please contact us at <a href="mailto:info@marspoles.com">
                                        info@marspoles.com
                                    </a>
                                <p>By using our website, you agree to the terms outlined in this Privacy Policy.

                                    Thank you for choosing Marspoles Media & Communications!
                                </p>

                                </p>


                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <!-- ==================== End Slider ==================== -->


        </main>
        <!-- ==================== Start Footer ==================== -->


        <% include layout_website/footer %>
            <!-- ==================== End Footer ==================== -->



            <!-- jQuery -->
            <script src="/website-files/assets/js/jquery-3.6.0.min.js"></script>
            <script src="/website-files/assets/js/jquery-migrate-3.4.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

            <!-- plugins -->
            <script src="/website-files/assets/js/plugins.js"></script>

            <script src="/website-files/assets/js/ScrollTrigger.min.js"></script>

            <!-- custom scripts -->
            <script src="/website-files/assets/js/scripts.js"></script>
            <script src="/website-files/assets/js/contactus.js"></script>

            <!-- <script src="/website-files/showcase/assets/js/showcase1.js"></script> -->
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
            </script>

</body>

</html>