<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="HTML5 Template Geekfolio Multi-Purpose themeforest">
    <meta name="description" content="Geekfolio - Multi-Purpose HTML5 Template">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Marspoles</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/assets/custome-img/faco-Marspoles.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="/website-files/assets/css/plugins.css">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/website-files/assets/css/style.css">


    <link rel="stylesheet" href="/website-files/showcase/assets/css/showcases.css">

    <link rel="stylesheet" href="/website-files/assets/custome/index.css">

    <script>document.documentElement.className = "js";

        var supportsCssVars = function supportsCssVars() {
            var e,
                t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
        };

        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>
    <!-- <link rel="stylesheet" href="/website-files/assets/custome/custome.css"> -->
    <link rel="stylesheet" href="/website-files/assets/custome/services.css">
</head>

<body class="sub-bg demo-1">
    <% include layout_website/header %>

    <main>

        <!-- ==================== Start Slider ==================== -->

        <header class="slider showcase-full">
            <div class="swiper-container parallax-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="bg-img valign" data-background="/website-files/assets/imgs/works/full/1.jpg" data-overlay-dark="3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-11 offset-lg-1">
                                        <div class="caption">
                                            <h6 class="sub-title mb-30" data-swiper-parallax="-1000">© 2023 <br>
                                                Branding</h6>
                                            <h1>
                                                <a href="project-details1.html">
                                                    <span data-swiper-parallax="-2000">Basket Lamp</span>
                                                </a>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-img valign" data-background="/website-files/assets/imgs/works/full/2.jpg" data-overlay-dark="3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-11 offset-lg-1">
                                        <div class="caption">
                                            <h6 class="sub-title mb-30" data-swiper-parallax="-1000">© 2023 <br>
                                                Branding</h6>
                                            <h1>
                                                <a href="project-details1.html">
                                                    <span data-swiper-parallax="-2000">Moon Light</span>
                                                </a>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-img valign" data-background="/website-files/assets/imgs/works/full/3.jpg" data-overlay-dark="3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-11 offset-lg-1">
                                        <div class="caption">
                                            <h6 class="sub-title mb-30" data-swiper-parallax="-1000">© 2023 <br>
                                                Branding</h6>
                                            <h1>
                                                <a href="project-details1.html">
                                                    <span data-swiper-parallax="-2000">Red Glasses</span>
                                                </a>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-img valign" data-background="/website-files/assets/imgs/works/full/4.jpg" data-overlay-dark="3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-11 offset-lg-1">
                                        <div class="caption">
                                            <h6 class="sub-title mb-30" data-swiper-parallax="-1000">© 2023 <br>
                                                Branding</h6>
                                            <h1>
                                                <a href="project-details1.html">
                                                    <span data-swiper-parallax="-2000">Mini</span> <br> <span
                                                        data-swiper-parallax="-3000">Waffile Maker</span>
                                                </a>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-img valign" data-background="/website-files/assets/imgs/works/full/5.jpg" data-overlay-dark="3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-11 offset-lg-1">
                                        <div class="caption">
                                            <h6 class="sub-title mb-30" data-swiper-parallax="-1000">© 2023 <br>
                                                Branding</h6>
                                            <h1>
                                                <a href="project-details1.html">
                                                    <span data-swiper-parallax="-2000">Headphone</span>
                                                </a>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="bg-img valign" data-background="/website-files/assets/imgs/works/full/6.jpg" data-overlay-dark="3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-11 offset-lg-1">
                                        <div class="caption">
                                            <h6 class="sub-title mb-30" data-swiper-parallax="-1000">© 2023 <br>
                                                Branding</h6>
                                            <h1>
                                                <a href="project-details1.html">
                                                    <span data-swiper-parallax="-2000">Serpenta</span> <br> <span
                                                        data-swiper-parallax="-3000">Table Lamp</span>
                                                </a>
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- slider setting -->
                <div class="slider-contro">
                    <div class="swiper-button-next swiper-nav-ctrl cursor-pointer">
                        <div>
                            <span>Next Slide</span>
                        </div>
                        <div><i class="fas fa-chevron-right"></i></div>
                    </div>
                    <div class="swiper-button-prev swiper-nav-ctrl cursor-pointer">
                        <div><i class="fas fa-chevron-left"></i></div>
                        <div>
                            <span>Prev Slide</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination dots"></div>
            </div>
        </header>
          <div class="main-marq xlrg section-padding pb-0 orange-bg">
                <div class="slide-har st1">
                    <div class="box">
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                    </div>
                    <div class="box">
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                        <div class="item">
                            <h4>Services</h4>
                        </div>
                    </div>
                </div>
            </div>
        <!-- ==================== End Slider ==================== -->



        <!-- ==================== Start About ==================== -->

        <section class="pg-about section-padding sub-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="bg-img radius-10 md-mb50" data-background="/website-files/assets/imgs/about/sq1.jpg"></div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-img radius-10" data-background="/website-files/assets/imgs/about/sq2.jpg"></div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-img radius-10" data-background="/website-files/assets/imgs/about/sq2.jpg"></div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bg-img radius-10" data-background="/website-files/assets/imgs/about/sq2.jpg"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="sec-head mt-80">
                            <h6 class="sub-title">Our Story.</h6>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="cont mt-80">
                            <h4>GeekFolio are digital marketing experts and can partner with you to implement tactical
                                campaigns which engage and connect audiences whilst driving ROI for your brand. We are
                                SEO and SEM professionals and have implemented successful search campaigns for clients
                                which drive super-charge improvements in organic rankings, increase visits and grow
                                revenue. </h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ==================== End About ==================== -->











    </main>
        <!-- ==================== Start call to action ==================== -->

        <section class="call-action-img">
            <div class="container">
                <div class="sec-bg-img bg-img parallaxie" data-background="/website-files/assets/imgs/background/2.jpg"></div>
                <div class="sec-lg-head section-padding">
                    <div class="row ontop">
                        <div class="col-11 d-flex align-items-center">
                            <div class="valign">
                                <h2 class="fz-50 d-rotate wow">
                                    <span class="rotate-text">Have a project in mind?</span>
                                    <span class="rotate-text">Let’s <span class="sub-font">get to work</span>.</span>
                                </h2>
                            </div>
                            <div class="ml-auto">
                                <a href="/contactus"
                                    class="butn-circle d-flex align-items-center text-center m-auto">
                                    <div class="full-width">
                                        <span><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                    fill="currentColor"></path>
                                            </svg></span>
                                        <span class="full-width">Get In Touch</span>
                                    </div>
                                    <img src="/website-files/assets/imgs/svg-assets/circle-star.svg" alt="" class="circle-star">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <% include layout_website/footer %>
            <!-- ==================== End Footer ==================== -->



            <!-- jQuery -->
            <script src="/website-files/assets/js/jquery-3.6.0.min.js"></script>
            <script src="/website-files/assets/js/jquery-migrate-3.4.0.min.js"></script>

            <!-- plugins -->
            <script src="/website-files/assets/js/plugins.js"></script>

            <script src="/website-files/assets/js/ScrollTrigger.min.js"></script>

            <!-- custom scripts -->
            <script src="/website-files/assets/js/scripts.js"></script>

            <script src="/website-files/showcase/assets/js/showcase1.js"></script>

</body>

</html>