<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="product launch advertisement
    product launch banner
    brand launch events
    company launch announcement
    product hunt launch
    product launch marketing strategy
    brand launch events
    brand launch plan
    product launch timeline
    Pharma New launch idea
    2d character animation agency
    character animation design
    3d character animation agency
    cartoon character animation agency
    character animation drawing
    VFX agency near me
    Animation studio in mumbai
    character animation in after effects
    character animation Services
    mobile app development
    mobile app development company
    android app development
    app development course
    app development company
    ios app development
    flutter app development
    Whats App Bot
    whatsapp bot commands
    whatsapp bot api
    build whatsapp bot
    whatsapp bot list
    useful whatsapp bot
    chat bot whatsapp business
    Artificial Intelligence
    artificial intelligence
    artificial intelligence tools
    artificial intelligence app
    artificial intelligence future
    artificial intelligence technology">
    <meta name="description" content="Geekfolio - Multi-Purpose HTML5 Template">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Disclaimer</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/assets/custome-img/faco-Marspoles.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-xxx" crossorigin="anonymous" />

    <!-- Plugins -->
    <link rel="stylesheet" href="/website-files/assets/css/plugins.css">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/website-files/assets/css/style.css">


    <link rel="stylesheet" href="/website-files/showcase/assets/css/showcases.css">

    <link rel="stylesheet" href="/website-files/assets/custome/index.css">
    <link rel="stylesheet" href="/website-files/assets/custome/contect.css">


    <script>document.documentElement.className = "js";

        var supportsCssVars = function supportsCssVars() {
            var e,
                t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
        };

        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>
    <link rel="stylesheet" href="/website-files/assets/custome/custome.css">
    <link rel="stylesheet" href="/website-files/assets/custome/career.css">

</head>

<body class="sub-bg demo-1">
    <% include layout_website/header %>

        <main class="main-bg position-re">

            <!-- ==================== Start Slider ==================== -->

            <header class="page-header section-padding sub-bg contact-hero">
                <div class="container mt-80">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="caption">
                                <!-- <h6 class="sub-title">Privacy Policy</h6> -->
                                <h1 class="fz-55">Disclaimer

                                </h1>
                            </div>
                        </div>
                        <div class="col-lg-5 valign">
                            <div class="text">
                                <p>Marspoles Media & Communications Website Disclaimer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section class="py-4">
                <div class="container">

                    <div class="row">

                        <div class="col-md-12">
                            <p>Marspoles Media & Communications Website Disclaimer
                                <br>
                                Last Updated: 8/01/2024
                            </p>
                            <p>Welcome to the Marspoles Media & Communications website. The information provided on this
                                website is for general informational purposes only. By accessing and using this website,
                                you agree to be bound by the terms and conditions outlined in this disclaimer.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="py-5">
                <div class="container mt-5 mb-5">
                    <div class="row  pt-5 pb-5">
                        <h2 class="d-rotate wow">
                            <span class="rotate-text">General:</span>
                        </h2>
                        <div class="col-lg-12 md-mb50">
                            <div class="item pb-50 mb-50">

                                <p>The information and content provided on this website are for general informational
                                    purposes only. While we strive to ensure the accuracy and effectiveness of our
                                    services, we make no representations or warranties of any kind, express or implied.
                                    Our agency assumes no liability for the outcomes or results of advertising
                                    campaigns. <br>
                                    The inclusion of client testimonials or case studies does not guarantee similar
                                    results for future clients. Individual results may vary based on various factors.
                                    Any reliance on the information provided on this website is at your own risk. We
                                    encourage users to verify critical information and seek professional advice for
                                    specific advertising needs. <br>
                                    The advertising agency reserves the right to modify or update the content of this
                                    website, including services, portfolios, and disclaimers, without prior notice.
                                </p>
                            </div>
                            <div class="item pb-50 mb-50">
                                <h6 class="mb-15">Accuracy of Information:</h6>
                                <p>While we strive to provide accurate and up-to-date information, we make no
                                    representations or warranties of any kind, express or implied, about the
                                    completeness, accuracy, reliability, suitability, or availability of the information
                                    contained on this website. Any reliance you place on such information is strictly at
                                    your own risk.</p>
                            </div>
                            <div class="item">
                                <h6 class="mb-15">External Links:</h6>
                                <p>Our website may contain links to external websites that are not under the control of
                                    Marspoles Media & Communications. We have no control over the nature, content, and
                                    availability of those sites. The inclusion of any links does not necessarily imply a
                                    recommendation or endorse the views expressed within them.</p>
                            </div>
                            <div class="item">
                                <h6 class="mb-15">No Professional Advice:</h6>
                                <p>The information provided on this website is not intended to constitute professional
                                    advice. It is provided for general informational purposes only. You should not act
                                    upon the information on this website without seeking professional advice.</p>
                            </div>
                            <div class="item">
                                <h6 class="mb-15">Limitation of Liability:</h6>
                                <p>In no event will Marspoles Media & Communications be liable for any loss or damage,
                                    including without limitation, indirect or consequential loss or damage, or any loss
                                    or damage whatsoever arising from loss of data or profits arising out of, or in
                                    connection with, the use of this website.</p>
                            </div>
                            <div class="item">
                                <h6 class="mb-15">Images and Videos:</h6>
                                <p>Any images and videos on the website should not be used for any purpose without the
                                    consent of Marspoles Media & Communications.</p>
                            </div>
                            <div class="item">
                                <h6 class="mb-15">
                                    Changes to Disclaimer:
                                </h6>
                                <p>We reserve the right to update or change this disclaimer at any time without prior
                                    notice. We recommend checking this page periodically for any updates.</p>
                            </div>
                            <div class="item">
                                <h6 class="mb-15">
                                    Contact Us:
                                </h6>
                                <p>If you have any questions or concerns about this disclaimer, please contact us at
                                    <a href="mailto:info@marspoles.com"></a> info@marspoles.com.
                                </p>
                                <p>By using our website, you agree to the terms outlined in this disclaimer.

                                </p>
                                <p>
                                    Thank you for choosing Marspoles Media & Communications!</p>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- ==================== End Slider ==================== -->


        </main>
        <!-- ==================== Start Footer ==================== -->


        <% include layout_website/footer %>
            <!-- ==================== End Footer ==================== -->



            <!-- jQuery -->
            <script src="/website-files/assets/js/jquery-3.6.0.min.js"></script>
            <script src="/website-files/assets/js/jquery-migrate-3.4.0.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

            <!-- plugins -->
            <script src="/website-files/assets/js/plugins.js"></script>

            <script src="/website-files/assets/js/ScrollTrigger.min.js"></script>

            <!-- custom scripts -->
            <script src="/website-files/assets/js/scripts.js"></script>
            <script src="/website-files/assets/js/contactus.js"></script>

            <!-- <script src="/website-files/showcase/assets/js/showcase1.js"></script> -->
            <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
            </script>

</body>

</html>