<style>
    .footerlink{
        display: flex;
        justify-content: space-evenly;
}
.footer-container .text p{
    font-size: 14px;
}
.footer-container h6{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.8;
}

</style>

<footer>
    <div class="footer-container">
        <div class="container pb-80 pt-80 ontop">
            <div class="row">
                <div class="col-lg-3">
                    <div class="colum md-mb50">
                        <div class="tit mb-20">
                            <h6>Address</h6>
                        </div>
                        <div class="text">
                            <p>G-20, Ground Floor, Kohinoor/Dhanraj Mall, Off. L.B.S Road, Kurla (West), Mumbai:
                                400070.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ">
                    <div class="colum md-mb50">
                        <div class="tit mb-20">
                            <h6>Say Hello</h6>
                        </div>
                        <div class="text">
                            <p >
                                <a href="mailto:info@marspoles.com">info@marspoles.com</a>
                            </p>
                            <p>
                                <a href="tel:022 40044993 ">022 40044993</a>
                                <br>
                                <a href="tel:09821191049">09821191049
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 md-mb50">
                    <div class="tit mb-20 text-center">
                        <h6>Links</h6>
                    </div>
                    <div class="footerlink" >
                        <ul class="rest social-text">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/aboutus">About Us</a>
                            </li>
                            <li>
                                <a href="/services">The Service Cluster
                                </a>
                            </li>
                            <li>
                                <a href="/work">The Work Axis
                                </a>
                            </li>
                            <li>
                                <a href="/blogs">Blogs</a>
                            </li>
                  
                          
                 
                        </ul>
                        <ul class="rest social-text">
                            <li>
                                <a href="/contactus">Contact Us 
                                </a>
                            </li>
                            <li>
                                <a href="/faqs">Faq's</a>
                            </li>
                            <li>
                                <a href="/career">Career</a>
                            </li>
                            <li>
                                <a href="/policy-privacy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/disclaimer">Disclaimer</a>
                            </li>
                 
                        </ul>
                    </div>
                 
                </div>
                <div class="col-lg-2 md-mb50">
                    <div class="tit mb-20">
                        <h6>Social</h6>
                    </div>
                    <ul class="rest social-text">
                        <li>
                            <a href="https://www.facebook.com/Marspolesteam/" target="_blank">Facebook</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Marspoles"target="_blank">Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/marspoles-media-communications-llp/"target="_blank">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/marspoles?igsh=ajh1enN2cngyc29i"target="_blank">Instagram</a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC5a9-PW9MYXy0w0D31Mt1Uw"target="_blank">Youtube</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="sub-footer bord-thin-top ontop">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="logo">
                            <a href="#0">
                                <!-- <img src="assets/custome-img/Marspoles_Logo_color.png" alt=""> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="copyright d-flex">
                            <div class="ml-auto">
                                <p class="fz-13">© Copyrights <span class="underline"><a
                                            href="https://marspoles.com/" target="_blank" class="webdesing"> Marspoles </a></span> All Rights reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>