  <!-- ==================== Start Loading ==================== -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-xxx" crossorigin="anonymous" />
  <link rel="stylesheet" href="/website-files/assets/custome/contect.css">

  <div class="loader-wrap">
    <svg viewBox="0 0 1000 1000" preserveAspectRatio="none">
        <path id="svg" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z"></path>
    </svg>

    <div class="loader-wrap-heading">
        <div class="load-text">
            <span>L</span>
            <span>A</span>
            <span>U</span>
            <span>N</span>
            <span>C</span>
            <span>H</span>
            <span>I</span>
            <span>N</span>
            <span>G</span>
        </div>LAUNCHING
    </div>
</div>

<!-- ==================== End Loading ==================== -->


<!-- <div class="cursor"></div> -->


<!-- ==================== Start progress-scroll-button ==================== -->

<div class="progress-wrap cursor-pointer">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>

<!-- ==================== End progress-scroll-button ==================== -->



<!-- ==================== Start Navgition ==================== -->

<div id="navi" class="topnav">
    <div class="container d-flex align-items-center">
        <div class="logo icon-img-120 ">
           <!-- add this class for logo background white:logo-container -->
            <a href="/"><img src="/website-files/assets/custome-img/MarspolesLogo.png" alt=""></a>
        </div>
        <div class="menu-icon cursor-pointer">
            <span class="icon">
                <i></i>
                <i></i>
            </span>
            <span class="text"><span class="word">Menu</span></span>
        </div>
    </div>
</div>

<div class="hamenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="menu-text">
                    <div class="text">
                        <h2>Menu</h2>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="menu-links">
                    <ul class="main-menu rest">
                        <li>
                            <div class="o-hidden">
                                <a href="/" class="link"><span class="fill-text"
                                        data-text="Home">Home</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a href="/aboutus" class="link"><span class="fill-text"
                                        data-text="About Us">About Us</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a href="/services" class="link"><span class="fill-text"
                                        data-text="The Service Cluster">The Service Cluster</span></a>
                            </div>
                        </li>

                        <li>
                            <div class="o-hidden">
                                <a href="/work" class="link"><span class="fill-text"
                                        data-text="The Work Axis">The Work Axis</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a href="/blogs" class="link"><span class="fill-text"
                                        data-text="Blogs">Blogs</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a href="/career" class="link"><span class="fill-text"
                                        data-text="Career">Career</span></a>
                            </div>
                        </li>
                        <li>
                            <div class="o-hidden">
                                <a href="/contactus" class="link"><span class="fill-text"
                                        data-text="Contact Us">Contact Us</span></a>
                            </div>
                        </li>
                   

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 d-flex align-items-center">
                <div class="cont-info full-width">
                    <div class="item">
                        <h5 class="mb-15">Get In Touch</h5>
                        <p>G-20, Ground Floor, Kohinoor/Dhanraj Mall, Off. L.B.S Road, Kurla (West), Mumbai: 400070.</p>
                        <p class=" main-color mt-5 mb-5"><a href="tel:02240044883">022 40044993</a></p>
                        <p class=" main-color mt-5 mb-5"><a href="tel:09821191049">09821191049</a></p>
                        <p><a href="mailto: info@marspoles.com">info@marspoles.com</a></p>
                    </div>
                    <!-- <div class="search-form">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Search">
                            <button><span class="pe-7s-search"></span></button>
                        </div>
                    </div> -->
                    <ul class="rest social-text d-flex mt-50 fz-13">
                        <li class="mr-20">
                            <a href="https://www.facebook.com/Marspolesteam/" class="hover-this"target="_blank"><span class="hover-anim"><i class="fab fa-facebook"></i></span></a>
                        </li>
                        <li class="mr-20">
                            <a href="https://twitter.com/Marspoles" class="hover-this"target="_blank"><span class="hover-anim"><i class="fab fa-twitter"></i></span></a>
                        </li>
                        <li class="mr-20">
                            <a href="https://www.linkedin.com/company/marspoles-media-communications-llp/"target="_blank" class="hover-this"><span class="hover-anim"><i class="fab fa-linkedin"></i></span></a>
                        </li>
                        <li class="mr-20">
                            <a href="https://www.instagram.com/marspoles?igsh=ajh1enN2cngyc29i" target="_blank"class="hover-this"><span class="hover-anim"> <i class="fab fa-instagram"></i></span></a>
                        </li>
                        <li >
                            <a href="https://www.youtube.com/channel/UC5a9-PW9MYXy0w0D31Mt1Uw"target="_blank" class="hover-this"><span class="hover-anim"><i class="fab fa-youtube"></i></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>