.work-header{
    background-color: #ea8a68;;
}


  
.active{
    height: 120px;
    overflow: hidden;
    /* padding-left: 15px; */
  }
  
  .wrapper  p{
  margin-bottom: 5px;
  list-style: none;
  position: relative;
  }
  
  /* .wrapper p:before{
    content: "";
    position: absolute;
    top: 8px;
    left: -12px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #bfbfbf;
  } */
  
  .wrapper .toggle_btn{
  margin-top: 15px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  margin-left: 70%;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  background: rgb(204, 12, 79);
  }
  
  .wrapper .toggle_btn.active .fas{
  transform: rotate(180deg);
  }
  .toggle_btn .arrow {
    padding-left: 10px ;
  }
  .toggle_text {
    text-decoration: underline;
  }