<!DOCTYPE html>
<html lang="zxx">

<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="character animation agency near me,
    2d character animation agency,
    character animation design,
    3d character animation agency,
    cartoon character animation agency,
    character animation drawing,
    VFX agency near me,
    Animation studio in mumbai,
    character animation in after effects,
    character animation Services,
    character animation after effects,
    vfx training and character animation degree,
    green screen character animation free download,
    vfx training and character animation degree,
    character animation in blender,
    minecraft character animation,
    character animation blender,
    vfx training and character animation degree,
    after effects character animation,
    free character animation,
    blender character animation,
    3ds max character animation tutorials for beginners,
    walking character animation,
    how to make character animation,
    what is character animation,
    3d character animation free,
    character animation course,
    online character animation,
    adobe character animation,
    2d character animation free download,
    3d character animation software,
    2d character animation online free,
    free fire character animation,
    character animation after effects plugin,
    character animation app,
    after effects character animation plugin,
    character animation templates,
    2d character animation software,
    talking character animation,
    2d character animation tutorials,
    flash character animation,
    character animation maker,
    free character animation software,
    character animation software free,
    character animation examples,
    character animation tutorial,
    character animation 2d,
    blender character animation course,
    character animation for games,
    game character animation,
    character animation video,
    ai character animation,
    character animation in computer graphics,
    speaking character animation,
    moving character animation,
    cartoon character animation maker,
    online character animation maker,
    best software for character animation,
    create character animation online,
    after effects character animation templates free download,
    best character animation software,
    character animation jobs,
    adobe character animation software,
    3d character animation jobs,
    best 3d character animation software,
    character animation video maker,
    3d cartoon character animation,
    character animation adobe,
    character animation generator,
    3d character animation studio,
    after effects plugin for character animation,
    cinema 4d character animation,
    character animation bootcamp,
    synfig character animation tutorial,
    character animation plugin after effects,
    maya character animation course,
    character animation download,
    powerpoint character animation,
    online 2d character animation,
    create your own character animation,
    introducing character animation with blender pdf,
    gif character animation,
    3d character animation download free,
    flash character animation samples,
    vfx training and character animation degree salary,
    character animation freelance,
    character animation services,
    how to create character animation,
    live character animation,
    unreal engine character animation,
    easy character animation software,
    3d character animation free download,
    character animation toolkit,
    character animation explainer toolkit,
    3d character animation online,
    2d character animation templates,
    character animation after effects template free,
    character animation tools,
    character animation kit - premiere pro free download,
    character animation free,
    Explainer videos,
    Animated videos,
    Event highlight videos,
    Testimonial videos,
    Marspoles,
    Marspoles Media and communication,
    Best Communication Agency,
    Best Media Agency,
    Best Video Shoot agency,
    Best healthcare agency,
    Best Medcom Agency,
    Creative Media Agency,
    Creative Communication Agency,
    Creative Healthcare agency,
    Best Animation agency,">
    <meta name="description" content="To boost brands, we provide services like graphic design and multimedia content to engaging copywriting and animation">
    <meta name="author" content="">

    <!-- Title  -->
    <title>Brand Launch | App and Web Development | Video Shoots | Gimmick Zone</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/website-files/assets/custome-img/faco-Marspoles.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Plugins -->
    <link rel="stylesheet" href="/website-files/assets/css/plugins.css">

    <!-- Core Style Css -->
    <link rel="stylesheet" href="/website-files/assets/css/style.css">

    <link rel="stylesheet" href="/website-files/assets/custome/single-services.css">
<style>
    .cont h4{
        font-size: 18px;
    }
</style>

</head>

<body class="main-bg">
    <% include ../layout_website/header %>




    <main>

        <!-- ==================== Start Slider ==================== -->

        <header class="slider showcase-full">
            <div class="swiper-container parallax-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                       <div class="inner-slide">
                        <div class="bg-img valign" style="background: #000;" data-overlay-dark="3">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-11 offset-lg-1">
                                        <div class="caption">

                                            <h1>
                                                
                                                    <span data-swiper-parallax="-2000">Animation House</span>
                                               
                                            </h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       </div>
                    </div>
                   
                </div>

               
            </div>
        </header>
       
        <!-- ==================== End Slider ==================== -->



        <!-- ==================== Start About ==================== -->

        <section class="pg-about section-padding sub-bg">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-3">
                        <video muted autoplay playsinline loop class="radius-10 video-radius">
                            <source src="/website-files/assets/imgs/Services/AnimationHouse/1.mp4">
                        </video> 
                    </div>
                    <div class="col-lg-3">
                        <video muted autoplay loop playsinline class="radius-10 video-radius">
                            <source src="/website-files/assets/imgs/Services/AnimationHouse/2.mp4">
                        </video>                     </div>
                    <div class="col-lg-3">
                        <video muted autoplay loop playsinline  class="radius-10 video-radius">
                            <source src="/website-files/assets/imgs/Services/AnimationHouse/3.mp4">
                        </video>                     </div>
                   
                  
                    <div class="col-lg-4">
                        <div class="sec-head mt-80">
                            <h6 class="sub-title">Animation House
                            </h6>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="cont mt-80">
                            <h4>Elevate your brand, engage your audience, and bring your ideas to life through the magic of animation. Whether you're looking to create eye-catching explainer videos, mesmerizing product animations, or dynamic promotional content, our team of skilled animators is here to transform your vision into a stunning visual masterpiece. Harness the power of storytelling, boost your brand presence, and leave a lasting impression with our expert animation services. Break free from the constraints of reality and let your imagination soar with animated content that knows no limits. We Offer Services Like
                                2D Animation
                                3D Animation
                                Character Animation
                                Corporate Videos
                                Illustration Videos
                                Mo-Cap Animation
                                Vector Animation
                                White Board Animation
                                
                            </h4>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- ==================== End About ==================== -->


        <section class="call-action-img">
            <div class="container">
                <div class="sec-bg-img bg-img parallaxie" data-background="/website-files/assets/imgs/background/2.jpg"></div>
                <div class="sec-lg-head section-padding">
                    <div class="row ontop">
                        <div class="col-11 d-flex align-items-center">
                            <div class="">
                                <h2 class="fz-50 d-rotate wow">
                                    <span class="rotate-text">Have a project in mind?</span>
                                    <span class="rotate-text">Let’s <span class="sub-font">get to work</span>.</span>
                                </h2>
                            </div>
                            <div class="ml-auto">
                                <a href="/contactus" class="butn-circle d-flex align-items-center text-center m-auto">
                                    <div class="full-width">
                                        <span><svg width="18" height="18" viewBox="0 0 18 18" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                                    fill="currentColor"></path>
                                            </svg></span>
                                        <span class="full-width">Get In Touch</span>
                                    </div>
                                    <img src="/website-files/assets/imgs/svg-assets/circle-star.svg" alt="" class="circle-star">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <!-- ==================== Start call to action ==================== -->



    <!-- ==================== End call to action ==================== -->
    <!-- ==================== Start Footer ==================== -->
    <% include ../layout_website/footer %>

    <!-- ==================== end Footer ==================== -->



    <!-- jQuery -->
    <script src="/website-files/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/website-files/assets/js/jquery-migrate-3.4.0.min.js"></script>

    <!-- plugins -->
    <script src="/website-files/assets/js/plugins.js"></script>

    <script src="/website-files/assets/js/ScrollTrigger.min.js"></script>

    <!-- custom scripts -->
    <script src="/website-files/assets/js/scripts.js"></script>


</body>

</html>